@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/kameron/Kameron-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/kameron/Kameron-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Karantina";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/karantina/Karantina-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karantina";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/karantina/Karantina-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/kaushan-script/KaushanScript-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Kameron";
  font-size: 20px;
  color: white;
  background-color: #0d0d0d;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 50px;
  transition: color 0.15s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #353535;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active {
  transition: background-color 1s 999999s;
  color: white;
  text-decoration-color: white;
  fill: white;
  -webkit-text-fill-color: white;
  border-color: #B57400;
  caret-color: white;
}

input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  background-image: none;
  background-color: transparent;
  color: white;
}

.crt-stagger
  .crt-feed
  .crt-stagger-post
  .crt-stagger-post-content
  .crt-stagger-post-image-container
  .crt-stagger-post-image,
.crt-stagger
  .crt-feed
  .crt-stagger-post
  .crt-stagger-post-content
  .crt-stagger-post-body-container {
  border-radius: 0 !important;
}

.crt-widget {
  padding: 0 !important;
}

.crt-load-more {
  border: 2px solid #b57400 !important;
  border-radius: 40px !important;
  background-color: #b57400 !important;
  color: #171717 !important;
  font-weight: bold !important;
  font-family: "Inter" !important;
  padding: 8px 32px 8px 32px !important;
  margin: 10px 0;
}

@media (hover: hover) and (pointer: fine) {
  .crt-load-more:hover {
    color: #b57400 !important;
    background-color: transparent !important;
  }
}

@media screen and (width <= 768px) {
  .crt-stagger .crt-feed .crt-stagger-post .crt-stagger-post-content {
    flex-direction: column !important;
  }

  .crt-stagger-post-image {
    min-height: 440px !important;
  }
}
