@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/kameron/Kameron-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/kameron/Kameron-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Karantina";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/karantina/Karantina-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karantina";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/karantina/Karantina-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/kaushan-script/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswald/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/oswald/Oswald-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Marck Script";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/marck-script/MarckScript-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Inter";
  font-size: 20px;
  color: white;
  background-color: #0d0d0d;
}

*::selection {
  background-color: #473108;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 50px;
  transition: color 0.15s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #353535;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active {
  transition: background-color 1s 999999s;
  color: white;
  text-decoration-color: white;
  fill: white;
  -webkit-text-fill-color: white;
  border-color: #b57400;
  caret-color: white;
}

input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  background-image: none;
  background-color: transparent;
  color: white;
}

.crt-post-hover {
  font-size: 14px !important;
  font-weight: bold !important;
  font-family: "Inter" !important;
}

.crt-icon-clone {
  fill: #b57400 !important;
}

.crt-icon-cancel {
  overflow: visible !important;
}

.crt-popup-stats {
  opacity: 0 !important;
}

.crt-popup-right,
.crt-popup-text .crt-post-has-text,
.crt-popup-read-more,
.crt-popup-footer,
.crt-popup-header {
  background-color: #171717 !important;
  border-color: #b57400 !important;
}

.crt-popup-text::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background-color: transparent !important;
}

.crt-popup-text::-webkit-scrollbar-thumb {
  background-color: #282828 !important;
  border-radius: 50px !important;
  transition: color 0.15s !important;
}

.crt-popup-text::-webkit-scrollbar-thumb:hover {
  background-color: #353535 !important;
}

.crt-popup-text::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.crt-previous,
.crt-next {
  width: auto !important;
}

.crt-icon-right-open,
.crt-icon-left-open {
  fill: #b57400 !important;
}

.crt-popup-wrapper .crt-popup .crt-close,
.crt-popup-header .crt-icon-instagram {
  fill: white !important;
}

.crt-popup-read-more .crt-button,
.crt-share-button {
  background-color: transparent !important;
  color: #b57400 !important;
  opacity: 0.7 !important;
}

.crt-popup-share-icon-container-icons a {
  border-color: #b57400 !important;
  color: #b57400 !important;
}

.crt-popup-header * {
  color: white !important;
  opacity: 0.8;
}

.crt-post-name span,
.crt-post-name br {
  display: none;
}

.crt-post-share .crt-popup-share-icon-container {
  background-color: #282828 !important;
  color: #b57400 !important;
}

.crt-social-icon,
.crt-icon-clone {
  opacity: 0.5;
}

@media screen and (max-width: 910px) {
  .crt-popup-wrapper .crt-popup .crt-close {
    background-color: #282828 !important;
    top: 0;
    right: 0;
    width: auto !important;
    line-height: 30px;
    height: auto !important;
    padding: 8px !important;
    text-align: center;
    border-bottom-left-radius: 5px;
  }
}
